@model NativeCodeTest.Product

@{
    ViewBag.Title = "Product Edit Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />

<h3>@ViewBag.Title</h3>


<!-- Displaying the message -->
@{ Html.RenderPartial("_ShowMessage"); }

<!-- This from will allow the user user to edit the name and price-->
<div class="form-horizontal">
    @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <!-- Edit the product -->
        <div class="form-group">
            @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Edit the price -->
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    }

    <!-- Creating a back button -->
    <a href='@Url.Action("Products", "Home")' >Back</a>
</div>